In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!cp "/content/drive/My Drive/4th_SEM/CSE4020_PROJECT_Machine_Learning/train.csv" train.csv

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('train.csv')

In [ ]:
df.shape

(404290, 6)

In [ ]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [ ]:
new_df = df.sample(30000)

In [ ]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [ ]:
new_df.duplicated().sum()

0

In [ ]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
206062,Is it bad for being an introvert?,Is being an introvert wrong or bad for me?
345324,What is a good inpatient drug and alcohol reha...,What is a good inpatient drug and alcohol reha...
248360,Which material has smallest volume for the sam...,What is the densest substance?
391662,How can we know when the strong force is stron...,How do we know the strong force is stronger th...
159924,What are the best 10 Hindi Bollywood songs hav...,Which English idioms sound funny when translat...

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
# merge texts
questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [ ]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [ ]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
206062,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
345324,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
248360,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
391662,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
159924,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296399,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
279513,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
91009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
296334,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
142584,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [ ]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
206062,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
345324,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
248360,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
391662,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
159924,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.9441666666666666

In [ ]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

0.6828333333333333